# Node modules
node_modules/
ars_coloris_front/node_modules/
ars_coloris_back/node_modules/

# Environment
.env

# Build
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# System
.DS_Store

# Notatki
notatki.txt